*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 16);
}

.inputData{
    max-width: 450px;
    margin: 350px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}

.inputData input{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    color: black;
}

.inputData img{
    width: 30px;
    cursor: pointer;
}

